/* Homesick Markdown Theme
 *  ~ by lyneca
 *
 * https://github.com/lyneca/homesick
 */

body {
    font-family: "Inconsolata", "Courier New", monospace;
    margin: auto;
    width: 800px;
}

hr {
    background-color: transparent;
    height: 0;
    width: 0;
    page-break-after: always;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    /* box-sizing: border-box; */
    /* border: 2px dashed black; */
}

h1, h2, h3, h4, h5, h6 {
    font-weight: lighter;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

h2 {
    font-size: 24px;
    page-break-after: avoid;
}

/* h2:before { */
    /* content: "-- "; */
    /* color: #999999; */
/* } */

/* h2:after { */
    /* content: " --"; */
    /* color: #999999; */
/* } */

h3 {
    font-size: 22px;
}

h3:before {
    content: ":: ";
    color: #999999;
}

h4 {
    font-size: 20px;
    color: #333333;
}

h4:before {
    content: "/// ";
    color: #999999;
}

h5 {
    font-size: 17px;
}

h5:before {
    content: "[ ";
    color: #999999;
}

h5:after {
    content: " ]";
    color: #999999;
}

ul {
    list-style-type: none;
}

ul > li:before {
    content: "-";
    display: inline-block;
    text-indent: -17px;
}

li, pre {
    page-break-inside: avoid;
}

pre {
    padding: 10px;
    border: 1px solid #999999;
    border-radius: 5px;
}

table {
    margin: 20px;
    page-break-inside: avoid;
}

table, td, th {
    border-collapse: collapse;
    border: 1px solid #999999;
}

td, th {
    padding: 5px;
}

code {
    background-color: #eeeeee;
    padding: 1px;
    border-radius: 3px;
}

pre > code {
    background-color: transparent;
    padding: 0;
    border-radius: 0;
}
